<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TooDo List</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/styles.css">

        <!-- Font family -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/b23d236d2f.js" crossorigin="anonymous"></script>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="images/favicon_io/site.webmanifest">
    </head>

    <body>